.User{
    text-decoration: none;
    color: black;
    text-align: center;
}
.foot{
    flex-wrap: nowrap;
    display: block !important;
    background-color: lightgrey;
}
.menu{
    transition: background-color 1s ease-in-out 10ms;
    font-size: 22px;
    padding: 5px;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    
}
.menu:hover{
    background-color: blanchedalmond;
    text-decoration: none;
}
.back {
    background: url(https://www.incimages.com/uploaded_files/image/1920x1080/getty_507716250_226806.jpg) no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 80vh;
  }
  
  .con {
    width: 30rem;
    height: 20rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
  }
  
  .con:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    margin: -20px;
  }
  .get{
      text-align: center;
      font-size: 46px;
      font-weight: bold;
      padding: 10px;
      margin: 2%;

  }
  .search{
      margin-left: 90px;
  }
  input[type=text] {
    width: 150px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 20px;
}
  
.login-background {
    background: url(https://previews.123rf.com/images/brilliantgirl/brilliantgirl1703/brilliantgirl170300003/74685841-retro-vintage-chic-funky-stripes-crescent-with-square-graphic-background-in-yellow-green-blue-cream-.jpg) no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .spinner {
    margin: auto;
  }